absl-py==0.15.0
adal==1.2.7
adlfs==2021.10.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.4.1
ansiwrap==0.8.4
antlr4-python3-runtime==4.7.2
anyio==3.4.0
applicationinsights==0.11.10
arch==4.14
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
azure-appconfiguration==1.1.1
azure-batch==11.0.0
azure-cli==2.31.0
azure-cli-core==2.31.0
azure-cli-telemetry==1.0.6
azure-common==1.1.27
azure-core==1.20.1
azure-cosmos==3.2.0
azure-datalake-store==0.0.52
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-keyvault==1.1.0
azure-keyvault-administration==4.0.0b3
azure-keyvault-keys==4.5.0b5
azure-loganalytics==0.1.1
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==0.2.0
azure-mgmt-appconfiguration==2.0.0
azure-mgmt-applicationinsights==1.0.0
azure-mgmt-authorization==0.61.0
azure-mgmt-batch==16.0.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==0.3.0
azure-mgmt-cdn==11.0.0
azure-mgmt-cognitiveservices==13.0.0
azure-mgmt-compute==23.1.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==9.1.0
azure-mgmt-containerregistry==8.2.0
azure-mgmt-containerservice==16.1.0
azure-mgmt-core==1.3.0
azure-mgmt-cosmosdb==7.0.0b2
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==10.0.0
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==9.0.0
azure-mgmt-eventhub==9.1.0
azure-mgmt-extendedlocation==1.0.0
azure-mgmt-hdinsight==9.0.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==9.0.0
azure-mgmt-iothub==2.1.0
azure-mgmt-iothubprovisioningservices==0.3.0
azure-mgmt-keyvault==9.3.0
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==11.0.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==7.0.0
azure-mgmt-monitor==2.0.0
azure-mgmt-msi==0.2.0
azure-mgmt-netapp==5.1.0
azure-mgmt-network==19.3.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==1.0.0
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.0.0
azure-mgmt-recoveryservices==2.0.0
azure-mgmt-recoveryservicesbackup==3.0.0
azure-mgmt-redhatopenshift==1.0.0
azure-mgmt-redis==13.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.6.0
azure-mgmt-resource==19.0.0
azure-mgmt-search==8.0.0
azure-mgmt-security==2.0.0b1
azure-mgmt-servicebus==6.0.0
azure-mgmt-servicefabric==1.0.0
azure-mgmt-servicefabricmanagedclusters==1.0.0
azure-mgmt-servicelinker==1.0.0b1
azure-mgmt-signalr==1.0.0
azure-mgmt-sql==3.0.1
azure-mgmt-sqlvirtualmachine==1.0.0b1
azure-mgmt-storage==19.0.0
azure-mgmt-synapse==2.1.0b3
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==4.0.0
azure-multiapi-storage==0.7.0
azure-nspkg==3.0.2
azure-storage-blob==12.9.0
azure-storage-common==1.4.2
azure-storage-queue==12.1.6
azure-synapse-accesscontrol==0.5.0
azure-synapse-artifacts==0.9.0
azure-synapse-managedprivateendpoints==0.3.0
azure-synapse-spark==0.2.0
azureml-accel-models==1.37.0
azureml-automl-core==1.37.0
azureml-cli-common==1.37.0
azureml-contrib-dataset==1.37.0
azureml-contrib-fairness==1.37.0
azureml-contrib-notebook==1.37.0
azureml-contrib-pipeline-steps==1.37.0
azureml-contrib-reinforcementlearning==1.37.0
azureml-contrib-server==1.37.0
azureml-contrib-services==1.37.0
azureml-core==1.37.0
azureml-datadrift==1.37.0
azureml-dataprep==2.25.0
azureml-dataprep-native==38.0.0
azureml-dataprep-rslex==2.1.0
azureml-dataset-runtime==1.37.0
azureml-defaults==1.37.0
azureml-explain-model==1.37.0
azureml-inference-server-http==0.4.2
azureml-interpret==1.37.0
azureml-mlflow==1.37.0
azureml-opendatasets==1.37.0
azureml-pipeline==1.37.0
azureml-pipeline-core==1.37.0
azureml-pipeline-steps==1.37.0
azureml-responsibleai==1.37.0
azureml-sdk==1.37.0
azureml-telemetry==1.37.0
azureml-tensorboard==1.37.0
azureml-train==1.37.0
azureml-train-automl-client==1.37.0
azureml-train-core==1.37.0
azureml-train-restclients-hyperdrive==1.37.0
azureml-widgets==1.37.0
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.4.1
bokeh==2.4.2
Boruta==0.3
boto==2.49.0
boto3==1.20.19
botocore==1.23.19
Bottleneck==1.3.2
cached-property==1.5.2
cachetools==4.2.4
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==1.6.0
colorama==0.4.4
colorlover==0.3.0
configparser==3.7.4
contextlib2==21.6.0
contextvars==2.4
coremltools @ git+https://github.com/apple/coremltools@13c064ed99ab1da7abea0196e4ddf663ede48aad
cramjam==2.5.0
cryptography==3.4.8
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.21
dask==2.30.0
dask-sql==2021.12.0
databricks-cli==0.16.2
datasets==1.8.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
dice-ml==0.7.2
dill==0.3.4
distributed==2.30.1
distro==1.6.0
docker==5.0.3
dotnetcore2==2.1.22
dowhy==0.6
econml==0.12.0
encrypted-inference==0.9
entrypoints==0.3
enum34==1.1.10
erroranalysis==0.1.28
fabric==2.6.0
fairlearn==0.7.0
fastai==1.0.61
fastapi==0.70.1
fastparquet==0.7.2
fastprogress==1.0.0
filelock==3.4.0
fire==0.4.0
Flask==1.0.3
Flask-Cors==3.0.10
flatbuffers==2.0
frozenlist==1.2.0
fsspec==2021.11.1
funcy==1.17
fusepy==3.0.1
future==0.18.2
gast==0.3.3
gensim==3.8.3
gevent==1.3.6
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
greenlet==1.1.2
grpcio==1.42.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.1.0
HeapDict==1.0.1
holidays==0.9.11
horovod==0.19.1
htmlmin==0.1.12
huggingface-hub==0.0.19
humanfriendly==9.2
idna==3.3
ImageHash==4.2.1
imbalanced-learn==0.7.0
immutables==0.16
importlib-metadata==4.8.2
inference-schema==1.3.0
interpret-community==0.22.0
interpret-core==0.2.7
invoke==1.6.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.0
itsdangerous==2.0.1
javaproperties==0.5.2
jedi==0.18.0
jeepney==0.7.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
JPype1==1.3.0
json-logging-py==0.2
jsondiff==1.3.0
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.9.1
jupyterlab-widgets==1.0.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kmodes==0.11.1
knack==0.8.2
liac-arff==2.5.0
lightgbm==2.3.0
llvmlite==0.36.0
locket==0.2.1
lz4==3.1.10
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.1
matplotlib-inline==0.1.3
missingno==0.5.0
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.22.0
mlflow-skinny==1.22.0
mlxtend==0.19.0
mpmath==1.2.1
msal==1.16.0
msal-extensions==0.3.0
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==5.2.0
multimethod==1.6
multiprocess==0.70.12.2
murmurhash==1.0.6
mxnet==1.7.0.post1
nbconvert==5.6.1
nbformat==5.1.3
ndg-httpsclient==0.5.1
nest-asyncio==1.5.4
networkx==2.5
nltk==3.6.7
notebook==6.4.6
numba==0.53.1
numexpr==2.8.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
olefile==0.46
opencv-python-headless==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==0.25.3
pandas-ml==0.6.1
pandas-profiling==3.1.0
pandocfilters==1.5.0
papermill==1.2.1
paramiko==2.8.1
parso==0.8.3
partd==1.2.0
pathlib2==2.3.6
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1602788711040/work
pkginfo==1.8.2
plac==1.1.3
plotly==5.5.0
pmdarima==1.1.1
portalocker==1.7.1
preshed==3.0.6
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.24
property-cached==1.6.4
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
py4j==0.10.9.2
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.5
pycocotools==2.0.2
pycparser==2.21
pydantic==1.8.2
pydot==1.4.2
PyGithub==1.55
Pygments==2.10.0
PyJWT==2.3.0
pyLDAvis==3.3.1
PyNaCl==1.4.0
pynndescent==0.5.5
pyod==0.9.6
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyreadline==2.1
pyrsistent==0.18.0
PySocks==1.7.1
pyspark==3.2.0
python-dateutil==2.8.2
python-editor==1.0.4
python-snappy==0.6.0
pytorch-transformers==1.0.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
rai-core-flask==0.2.4
raiwidgets==0.15.0
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
responsibleai==0.15.0
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==0.24.2
scikit-plot==0.3.7
scipy==1.5.2
scp==0.13.6
seaborn==0.11.2
SecretStorage==3.3.1
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
setuptools-git==1.2
shap==0.39.0
six==1.16.0
sklearn-pandas==1.7.0
slicer==0.0.7
smart-open==1.9.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==2.3.2
sparse==0.13.0
SQLAlchemy==1.4.29
sqlparse==0.4.2
srsly==1.0.5
sshtunnel==0.1.5
starlette==0.16.0
statsmodels==0.10.2
sympy==1.9
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
textblob==0.17.1
textwrap3==0.9.2
thinc==7.4.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
thrift==0.15.0
tokenizers==0.10.3
toolz==0.11.2
torch==1.10.0
torch-tb-profiler==0.3.1
torchaudio==0.10.1
torchvision==0.9.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.5.1
typing-extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
umap-learn==0.5.2
urllib3==1.26.7
uuid==1.30
uvicorn==0.16.0
visions==0.7.4
waitress==2.0.0
wasabi==0.9.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.3.3
xmltodict==0.12.0
xxhash==2.0.2
yarl==1.7.2
yellowbrick==1.3.post1
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
